# Canonical hub configuration
HUB_HOST="pulseo.me"
HUB_PORT="22"
HUB_USER="USER_OVH"
HUB_BASE_DIR="/home/USER_OVH/agent_hub"
HUB_JOB_DIR="/home/USER_OVH/agent_hub/jobs"
HUB_RECEIPT_DIR="/home/USER_OVH/agent_hub/receipts"
HUB_REPORT_DIR="/home/USER_OVH/agent_hub/reports"
HUB_HOST_FALLBACK=""
POLL="30"
